# ============================================
# NODE ENVIRONMENT
# ============================================
NODE_ENV=development

# ============================================
# DATABASE CONNECTIONS
# ============================================
POSTGRES_URL="postgresql://wallet:wallet123@localhost:5432/wallet_db?schema=public"
MONGO_URL="mongodb://admin:mysecretpassword@localhost:27017/wallet?authSource=admin&replicaSet=rs0&directConnection=true"
REDIS_DATABASE_URL="redis://localhost:6379"
RABBITMQ_URL="amqp://wallet:wallet123@localhost:5672"

# ============================================
# JWT & SECURITY (CHANGE IN PRODUCTION!)
# ============================================
JWT_SECRET="your-super-secret-jwt-key-min-32-chars-CHANGE-THIS-IN-PRODUCTION-2024"
JWT_EXPIRY="15m"
REFRESH_TOKEN_EXPIRY="7d"
CSRF_SECRET="your-csrf-secret-key-min-32-chars-CHANGE-THIS-2024"
COOKIE_SECRET="your-cookie-secret-key-min-32-chars-CHANGE-THIS-2024"

# ============================================
# PASSWORD HASHING
# ============================================
BCRYPT_ROUNDS=12

# ============================================
# SERVICE PORTS
# ============================================
API_GATEWAY_PORT=8080
AUTH_SERVICE_PORT=6001
WALLET_SERVICE_PORT=6002
WORKER_SERVICE_PORT=6004
BANK_SERVICE_PORT=6005
REALTIME_SERVICE_PORT=6006

# ============================================
# SERVICE URLs (Internal Communication)
# ============================================
AUTH_SERVICE_URL="http://localhost:6001"
WALLET_SERVICE_URL="http://localhost:6002"
BANK_SERVICE_URL="http://localhost:6005"
MERCHANT_SERVICE_URL="http://localhost:6007"

# ============================================
# API KEYS (Service-to-Service)
# ============================================
  WALLET_SERVICE_API_KEY="wallet-service-secret-key-CHANGE-IN-PRODUCTION-2024"


# ============================================
# FRONTEND
# ============================================
FRONTEND_URL="http://localhost:3000"

# ============================================
# EMAIL CONFIGURATION
# ============================================


SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=vik6026717961@gmail.com
SMTP_PASS=sgvi urni eiez jyyg
EMAIL_FROM=Vibhu Gupta Wallet app


CLOUDINARY_CLOUD_NAME=dndqbtajj
CLOUDINARY_API_KEY=229995479118184
CLOUDINARY_API_SECRET=DJDWfio9_VzREeVqzUzD0xIDZqQ
CLOUDINARY_FOLDER=wallet-app


# ============================================
# SMS CONFIGURATION (Twilio)
# ============================================
TWILIO_ACCOUNT_SID=""
TWILIO_AUTH_TOKEN=""
TWILIO_PHONE_NUMBER=""

# ============================================
# BUSINESS RULES
# ============================================
MIN_TOPUP_AMOUNT=100
MAX_TOPUP_AMOUNT=100000

MIN_P2P_AMOUNT=10
MAX_P2P_AMOUNT=50000

TRANSACTION_FEE_PERCENT=0
